<template name="clubs">
<div class="clubs">
    <div class="container container-box">
        <h1>
            Najbliższe spotkania
        </h1>

        <div class="meetups">
            {{# each meetups }}
                <div class="meetup">{{ formatDate date}} - <a target="_blank" class="linksmall" href="{{link}}">{{title}}</a></div>
            {{/each }}
        </div>
    </div>
    <div class="container container-box">
        <h1>Jak wygląda spotkanie</h1>
        <div class="text-center">
            <object class="movie" type="application/x-shockwave-flash" data="https://www.youtube.com/v/pn7_tBSWNvQ" >
            <param name="movie" value="https://www.youtube.com/v/pn7_tBSWNvQ" />
            </object>
        </div>
    </div>


    <div class="container container-box">
        <h1>Załóż swój klub Activatorium!</h1>
        <div class="text-center row">
            <div class="col-lg-12 submit-button">
            <a class="btn btn-large btn-primary text-center" target="_blank" href="https://mateuszklimek.typeform.com/to/IAbPZl">Zgłoś się tutaj</a>
            </div>
        </div>
    </div>
</div>
</template>
