<template name="contacts">
    <div class="container container-box big">
        <a class="return-link" href="{{ pathFor 'matching'}}">Wstecz</a>
        <h1>Kontakty</h1>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <th>Imię i Nazwisko</th>
                <th>Opis projektu</th>
                <th>Wiadomości</th>
                <th>Profil</th>
            </thead>
            <tbody>
                {{#each my_contacts}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{{project_desc}}}</td>
                        <td>{{messages.length}}</td>
                        <td><a class="linksmall" href="{{ pathFor 'personProfile'}}">Zobacz profil</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
