<template name="matching">
    <div class="container matching container-box big">
        {{# if currentUser }}
            {{#if currentPerson }}
                <h1>
                    Ludzie
                </h1>
                <div class="row toolrow">
                    <div class="col-lg-7 links">
                        <a class="linkmed" href="{{ pathFor 'person-details' }}">Twój Profil</a>
                        <a href="{{ pathFor 'contacts' }}" class="linkmed">Kontakty</a>
                        <a class="linkmed" href="{{ pathFor 'messages' }}">Wiadomości</a>
                    </div>
                    <div class="col-lg-5">
                        <div class="input-group">
                          <span class="input-group-addon">Szukaj</span>
                          <input type="text" class="form-control search-person" placeholder="według słów np. programiści">
                        </div>
                    </div>
                </div>

                <table class="persons table table-striped table-bordered table-hover">
                <thead>
                    <th>Imię i Nazwisko</th>
                    <th>Co może dać</th>
                    <th>Czego szuka</th>
                    <th>Projekt</th>
                    <th>Profil</th>
                </thead>
                <tbody>
                    {{#each filteredPersons }}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{ what_can_give}}</td>
                            <td>{{ what_looking_for}}</td>
                            <td>{{{ project_desc}}}</td>
                            <td><a class="linksmall" href="{{ pathFor 'personProfile'}}">Zobacz profil</a></td>
                        </tr>
                    {{/each}}
                </tbody>
                </table>

            {{ else }}
                {{> personForm }}
            {{/if }}
        {{ else }}
            <div class="loginprompt">
                <h1>Zaloguj się aby wyszukać osoby społeczności</h1>
            </div>
        {{/if}}
    </div>
</template>

