
.matching {
    margin-top: 1em;
    margin-bottom: 1em;

    .toolrow {
        margin-top: 1em;
    }
}

.persons {
    margin-top: 2em;
}

.edit-person {
    font-size: 1.5em;
}


.links {
    a {
        padding-right: 1em;
    }
}
