<template name="messages">
    <div class="container container-box big">
        <a class="return-link" href="{{ pathFor 'matching'}}">Wstecz</a>
        <h1>Wiadomości</h1>
        <table class="persons table table-striped table-bordered table-hover">
            <thead>
                <th>Od</th>
                <th>Do</th>
                <th>Wiadomość</th>
            </thead>

            {{# each messages }}
            <tbody>
                <tr>
                    <td>{{getProfileName from}}</td>
                    <td>{{getProfileName to}}</td>
                    <td>{{message}}</td>
                </tr>
            </tbody>
            {{/ each }}
        </table>
    </div>
</template>
