<template name="personForm">
    {{# if currentPerson }}
        <a class="return-link" href="{{ pathFor 'matching'}}">Wstecz</a>
        <h1>Aktualizuj swój profil</h1>
        {{#autoForm collection="Persons" id="updatePersonForm" doc=currentPerson type="update"}}
            {{> personFormBase }}
            <button type="submit" class="btn btn-danger btn-lg">Zakualizuj</button>
        {{/autoForm}}
    {{else}}
        <h1>Stwórz swój profil, szukaj partnerów</h1>
        {{#autoForm collection="Persons" id="insertPersonForm" type="insert"}}
            {{> personFormBase }}
            <button type="submit" class="btn btn-danger btn-lg">Stwórz</button>
        {{/autoForm}}
    {{/if}}
</template>

<template name="personFormBase">
    {{> afQuickField name='what_can_give' rows=4}}
    {{> afQuickField name='what_looking_for' rows=4}}
    {{> afQuickField name='project_desc' rows=4}}
    {{> afQuickField name='searchable'}}
</template>

<template name="person-details">
    <div class="container container-box">
        {{> personForm }}
    </div>
</template>
