<template name='personProfile'>
    <div class="container container-box">
        <a class="return-link" href="javascript: history.go(-1)">Wstecz</a>
        <h1>{{ name }}</h1>
        <div class="details-section">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Co mogę dać</h3>
                    <div class="text">{{ what_can_give}}</div>
                    <h3>Czego/Kogo szukam</h3>
                    <div class="text">{{ what_looking_for}}</div>
                </div>

                <div class="col-lg-6">
                    <h3>Mój projekt</h3>
                    <div class="text">{{ project_desc}}</div>
                    <div>
                        {{# if projects.count }}
                            <h3>Moje projekty na activatorium:</h3>
                        {{/if}}
                        {{# each projects}}
                            <div><a class="linkmed" href="{{ pathFor 'details' }}">{{ title }}</a></div>
                        {{/each}}
                    </div>

                </div>

            </div>
        </div>
        <div class="messages-section">
            <h1>Wiadomości</h1>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="sendingpart">
                    <textarea name="person-message" class="form-control" rows="5" placeholder="Napisz wiadomość"></textarea>

                    <button type="submit" class="btn btn-danger btn-lg send-person-message">Wyślij</button>
                    {{# if messageSent }}
                    <div class="succeed">
                        Wiadomość została wysłana
                    </div>
                {{/if}}
                </div>
                <div class="messages">
                    {{# if communicationWithMe}}
                        {{#each communicationWithMe}}
                            <div class="message {{my}}">
                                <div class="who-sent">
                                {{# if my }}
                                    Ja napisałem:
                                {{ else }}
                                    {{personNameFromId from}} napisał:
                                {{/if }}
                                </div>
                                <div class="time-sent pull-right">{{ goodLookingDate time_sent}}</div>
                                <div style="clear:both"></div>
                                <div class="text">{{message}}</div>
                            </div>
                        {{/each}}
                    {{else}}
                        <div class="nomessages">
                            Nie macie jeszcze wiadomości.
                        </div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</template>
