@base-red: #c5000b;
.clubs {
    .meetups {
        margin-bottom: 2em;
        .meetup {
            font-size: 1.25em;
            a {
                text-decoration: none;
            }
        }
    }

    .btn-primary {
        background-color: @base-red;
        border: none;
        color: white;
        font-size: 22px;
        padding: 17px;
        &:hover {
            background-color: darken(@base-red, 10%)
        }
    }

    .submit-button {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .movie {
        width: 350px;
        height: 250px;

        @media (min-width: 768px) {
            width: 674px;
            height: 510px;
        }
    }
}
