

.project-content {
    min-height: 50vh;
    padding: 20px 40px;
}

.project-info-line {
    .place {
        float: right;
        img {
            margin-right: 5px;
        }
    }
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.project-operations {
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;

    .contact {
        margin-top: 1em;
    }

    .join-section {
        margin-top: 50px;
        > div, button[type="submit"] {
            margin-bottom: 20px;
        }

        button[type="submit"] {
            margin-top: 10px;
            &.active {

            }
        }

        .thankyou {
            //color: #428bca;
            font-size: 1.5em;
            font-style: italic;
        }

        .disclaimer {
            font-size: 0.9em;
        }

        .attend {
            padding: 10px 15px;
        }

        .email-block {
        }

        .share {
        }
    }

}

.project-movie {
    .movie, .photo {
        width: 100%;

        @media (min-width: 768px) {
            width: 400px;
            height: 200px;
        }

        @media (min-width: 1200px) {
            width: 650px;
            height: 370px
        }
    }
}

.project-details {
    margin-top: 1em;
}

.project-header {
    text-align: center;

    .campaign-success {
        display: inline-block;
        position: relative;
        top: -0.5em;
    }
}
