
.head {
    padding-top: 2em;
    padding-bottom: 1em;
    color: black;
    font-weight: bold;

    p {
        text-align: center;
        font-size: 25px;
    }
}

.propositions {
    position: relative;
    h2 {
        text-align: center;
        font-style: italic;
        font-size: 35px;
        margin-bottom: 1em;
    }
    p {
        font-size: 1.1em;
    }

    .icon {
        img {
            width: 200px;
        }
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}

.acti-image {
    width: 300px;
    height: 162px;

    @media (min-width: 768px) {
        height: 270px;
        width: 500px;
    }
}

.main-landing {
    min-height: 100vh;
}

.drawing {
    @media (min-width: 768px) {
        position: absolute;
        border: 1px solid #e7e7e7;
        z-index: -999;
        background-color: #f3f3f3;
        height: 15px;
        &.drawing1 {
            width: 112%;
            top: 6.5em;
            left: -9%;
        }
        &.drawing2 {
            width: 114%;
            top: 9em;
            left: -9%
        }
        &.drawing3 {
            width: 115%;
            top: 6.5em;
            left: -9%
        }
        &.drawing4 {
            width: 113%;
            top: 9em;
            left: -9%;
        }
    }
}

.partners {
    >div {
        margin-bottom: 2em;
        @media (min-width: 768px) {
            flex: 0 0 33%;
        }
        img {
            display: block;
            margin: 0px auto;
        }
    }
}
