@import "mixins.less";

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(44, 62, 80);
}

h1, h2, h3, h4, h5 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    font-style: italic;
    color: #c5000b;
    margin-bottom: 1em;
    &.subheader {
        margin-bottom: 0.3em;
    }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    .gradient(white, #f5f5f5);
}

.navbar-default .navbar-nav {
    padding-top: 2px;
    >li>a {
        color: #777;
        &.blue {
            color: #428bca;
        }
        &.active {
            background-color: #eeeeee;
        }
    }
}

.photo-avatar {
    height:25px;
    width: 25px;
    border-radius:50%;
    margin-top: -4px;
}

.my-caret {
    margin-left: 10px;
}

.btn-success {
    background-color: #18bc9c;
    border-color: #18bc9c;

    &:hover, &:focus {
        background-color: darken(#18bc9c, 10%);
        border-color: darken(#18bc9c, 10%);
    }
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.container-box {
    padding: 1em 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    .gradient(white, #f5f5f5);
    &.big {
        min-height: 80vh;
    }
}

.loginprompt {
    padding-top: 200px;
    min-height: 80vh;
}

.linkbig {
    font-size: 2em;
    text-decoration: underline;
    font-style: italic;
}

.linkmed {
    font-size: 1.5em;
    text-decoration: underline;
    font-style: italic;
}

.linkmenu {
    font-size: 1.75em;
    padding-right: 0.5em;
    text-decoration: underline;
    font-style: italic;
}

.linksmall {
    font-size: 1em;
    text-decoration: underline;
    font-style: italic;
}

.return-link {
    position: absolute;
    padding-top: 0.7em;
    font-size: 1.1em;
    text-decoration: underline;
    font-style: italic;
    &:before {
        content : "<<";
    }
}

.donthave {
    margin-top: 2em;
    text-align: center;
    font-size: 1.3em;
}

footer {
    .gradient(white, #f5f5f5);
    font-size: 1em;
    text-align: left;
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    * {
        text-align: left;
    }
    ul {
        list-style: none;
        text-align: left;
        padding-left: 0px
    }
    .footer-link {
    }

    .copyright {
        margin-left: 15em;
        margin-right: 15em;
        border-top: 1px solid #e7e7e7;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 0.8em;
        text-align: center;
    }
}

#velocity-status-widget {
    width: 50px !important;
    height: 50px !important;
}

.flexgrid {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}
