
footer {
    font-size: 0.6em;
    padding-top: 1em;
    border-top: 1px solid #ecf0f1;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-collapse {
    border: none;
}

.navbar-form {
    margin-top: 12px;
}

.navbar-brand {
    float: none;
}

.navbar-header {
    padding-top: 10px;
}

.navbar-nav > li > a {
    color: grey;
    padding-top : 20px;
    padding-bottom: 20px;
}

.navbar-nav {
    font-weight: bold;
    font-size: 16px;
}

.btn-Facebook {
    &:hover {
        color: darken(white, 10%)
    }
}
