.progress-block {
    .count {
        font-size: 50px;
    }
    .progress {
        background-color: #ddd;
        height: 10px;
        margin-bottom: 5px;
        .success {
            height: 10px;
            background-color: #428bca;
        }
    }
}
