
.details-section {
    h3 {
        margin-top: 0;
    }
    margin-bottom: 2em;
    .text {
        margin: 1em 0;
        white-space:pre-wrap;
    }
}

.messages-section {
    border-top: 1px solid #e7e7e7;
    .succeed {
        color: #18bc9c;
        font-size: 1.7em;
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: -2em;
    }
    h1 {
        margin-bottom: 0.5em;
    }
    .sendingpart {
        .send-person-message {
            margin: 0.8em 0em;
        }
    }

    .messages {
        border: 1px solid #ccc;
        border-radius: 5px;
        .message {
            border-bottom: 1px solid #ccc;
            padding: 1em;
            width: 100%;
            font-size: 1.1em;
            background-color: #f5f5f5;
            .time-sent {
                font-size: 0.8em;
            }
            .who-sent {
                float: left;
                font-size: 0.8em;
            }
            .text {
                margin-top: 0.5em;
                white-space:pre-wrap;
            }

            &.my {
                background-color: white;
            }
        }

        .nomessages {
            padding: 1em;
            width: 100%;
            text-align: center;
        }
    }
}
