.projects {
    h2, p {
        text-align: center;
    }
    padding: 1em;
}

.project-box {
    min-height: 24em;
    border: 1px solid grey;
    border-radius: 4px;
    position: relative;
    margin: 0 0 15px;
    background-color: white;

    .campaign-future {
        text-align: center;
        padding-bottom: 30px;
    }

    .title {
        font-size: 1.5em;
        text-align: center;
    }

    .place {
        margin-bottom: 1em;
        img {
            margin-right: 5px;
        }
        padding: 0px 10px;
    }

    @media (min-width: 1200px) {
        .photo {
            min-height: 240px;
        }
    }


    .text {
        padding: 0.5em 1em;
        min-height: 100px;
    }

}
