<template name="createProjects">
    <div class="container container-box big">
        <a class="return-link createlink"  href="{{ pathFor 'allProjects' }}">Wstecz</a>
        <h1>Twoje projekty</h1>
        <div class="projects">
        {{# if created_projects.count }}
            {{> list projects=created_projects}}
        {{else}}
            <p class="donthave">Nie masz jeszcze swoich projektów</p>
        {{/if}}
        </div>
    </div>
</template>
