<template name="landing">
    {{#AnimateWithVelocity}}
    <div data-animate data-property="opacity" data-duration="500" data-from-value="0" data-to-value="1">
        <div class="head text-center">
            <img class="acti-image" src="/activatorium.png" alt="">
            <h1>
                Zbieramy ludzi do projektów
            </h1>
        </div>
    </div>
    {{/AnimateWithVelocity}}


    <div class="container main-landing">
        <div class="container-box row propositions">
            <div class="drawing drawing1">&nbsp;</div>
            <div class="drawing drawing2">&nbsp;</div>
            <div class="col-lg-4">
                <div class="icon">
                    <img src="/icons/people.png" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <h2>Znajdź partnerów</h2>
                <p>
                    Do prawie każdej projektu potrzebni są ludzie, powiedz nam kogo szukasz i co możesz zaoferować, my zaproponujemy Ci potencjalnych współpracowników.
                </p>
                <div class="pull-right">
                <a class="linkbig" href="{{ pathFor 'matching' }}">Zapisz się >></a>
                </div>
            </div>
        </div>

        {{#AnimateWithVelocity}}

        {{# if showSecondPoint }}
        <div data-animate data-property="translateX" data-duration="1000" data-from-value="-1400px" data-to-value="0px" data-easing-in="easeInOutExpo" data-easing-out="easeInOutExpo" data-animate-on-render="false">

            <div class="container-box row propositions">
            <div class="drawing drawing3">&nbsp;</div>
            <div class="drawing drawing4">&nbsp;</div>
            <div class="col-lg-8">
                <h2>Opulikuj projekt</h2>
                <p>
                    Opisz swój projekt i dowiedcz się co myślą o nim inni. Zbierz feedback i wykorzystaj do do polepszenia swojego projektu.
                </p>
                <div class="pull-right">
                    <a class="linkbig" href="{{ pathFor 'projectForm' }}">Opublikuj projekt >></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon">
                    <img src="/icons/publish.png" alt="">
                </div>
            </div>
            </div>
        </div>
        {{/if}}

        {{# if showThirdPoint }}
        {{!--
        <div data-animate data-property="translateX" data-duration="1000" data-from-value="-1400px" data-to-value="0px" data-easing-in="easeInOutExpo" data-easing-out="easeInOutExpo" data-animate-on-render="false" >
            <div class="container-box row propositions">
            <div class="drawing drawing1">&nbsp;</div>
            <div class="drawing drawing2">&nbsp;</div>
            <div class="col-lg-4">
                <div class="icon">
                    <img src="/icons/technical.png" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <h2>Stwórz pierwszą wersję</h2>
                <p>
                    Chciałbyś szybko stworzyć pierwszą wersję, aby pokazać ją innym. Ale masz jeszcze skompletowanego zespołu, możemy zaoferować wykonanie wstępnej wersji dla Ciebie. Napisz do nas na:
                </p>
                <a class="linkbig" href="mailto:info@activatorium.pl">info@activatorium.pl</a>
            </div>
            </div>
        </div>
        --}}
        {{/if}}

        {{# if showThirdPoint }}
        <div data-animate data-property="translateX" data-duration="1000" data-from-value="-1400px" data-to-value="0px" data-easing-in="easeInOutExpo" data-easing-out="easeInOutExpo" data-animate-on-render="false" >
            <div class="container-box row propositions">
            <div class="drawing drawing1">&nbsp;</div>
            <div class="drawing drawing2">&nbsp;</div>
            <div class="col-lg-4">
                <div class="icon">
                    <img src="/icons/meeting.png" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <h2>Przyjdź na spotkanie</h2>
                <p>
                    Chciałbyś szybko stworzyć pierwszą wersję, aby pokazać ją innym. Ale masz jeszcze skompletowanego zespołu, możemy zaoferować wykonanie wstępnej wersji dla Ciebie. Napisz do nas na:
                </p>
                <a class="linkbig" href="{{ pathFor 'clubs' }}">Najbliższe spotkania >></a>
            </div>
            </div>
        </div>
        {{/if}}
        {{/AnimateWithVelocity}}

    </div>

    <div id="partnerzy" class="container">
        <div class="row text-center head">
            <h1>Partnerzy</h1>
        </div>

        <div class="flexgrid partners">
            <div>
                <img src="/partners/terere.png" width="200px" alt="">
            </div>
            <div>
                <img src="/partners/design_thinking.png" width="200px" alt="">
            </div>

            <div>
                <img src="/partners/finwal.png" width="200px" alt="">
            </div>

            <div>
                <img src="/partners/startup_legal.png" width="200px" alt="">
            </div>


            <div>
                <img src="/partners/youth_business.png" width="200px" alt="">
            </div>

            <div>
                <img src="/partners/reporter.png" width="200px" alt="">
            </div>

        </div>
    </div>

</template>


