<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Activatorium pomożemy aktywować twój projekt</title>

    <link rel="shortcut icon" type="image/ico" href="/acti.png" />

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700&subset=all" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=all" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,600&subset=all'rel='stylesheet' type='text/css'>
</head>

<template name="header">
    {{#AnimateWithVelocity}}
    <div data-animate data-property="opacity" data-duration="500" data-from-value="0" data-to-value="1">

    <header>
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand logo-img" href="{{ pathFor 'landing' }}">
                    <img src="/acti.png" alt="" class="" height="40px">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="{{isActiveRoute regex='allProjects'}}" href="{{ pathFor 'allProjects' }} ">Projekty</a></li>
                    <li><a class="{{isActiveRoute regex='matching'}}" href="{{ pathFor 'matching' }} ">Ludzie</a></li>
                    <li><a class="{{isActiveRoute regex='clubs'}}" href="{{ pathFor 'clubs' }}">Kluby</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right inner-menu">
                    {{# if currentUser }}
                        {{> user_loggedin}}
                    {{else}}
                        {{> user_loggedout}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </header>

    </div>
    {{/AnimateWithVelocity}}
</template>

<template name="user_loggedin">
    {{# if loggingIn }}
        <li>Loguję</li>
    {{else}}

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <li>
                    <img class="photo-avatar" src="{{currentUser.profile.avatar_url}}" style="">
                </li>
            </a>
            <ul class="dropdown-menu">
                <!--
                <li><a href="#"><i class="fa fa-cogs" style="margin-right: 10px;"></i>Ustawienia</a></li>
                <li class="divider"></li>
                -->
                <li><a href="#" id="logout"><i class="fa fa-power-off" style="margin-right: 10px;"></i> Wyloguj </a></li>
            </ul>
        </li>
    {{/if }}
</template>

<template name="user_loggedout">
    <li><a href="#" id="login">Zaloguj przez Facebooka</a></li>
</template>

<template name="layout">
    {{> header }}
    {{> yield }}
    {{> footer}}
</template>

<template name="loading">
    <div container-box style='min-height:100vh'>
        {{>spinner}}
    </div>
</template>

<template name="footer">
    <footer class="text-center footer">
        <div class="container footer-link">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-2 left">
                    <ul class="footer-nav">
                        <li><a href="{{ pathFor 'landing' }}">Home</a></li>
                        <li><a href="{{ pathFor 'allProjects' }}">Projekty</a></li>
                        <li><a href="{{ pathFor 'matching' }}">Ludzie</a></li>
                        <li><a href="{{ pathFor 'clubs' }}">Kluby</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <span class="findtext">Znajdź nas na:</span>
                    <ul class="social-link">
                        <li><a target="_blank" href="https://www.facebook.com/Activatorium">Facebooku</a></li>
                        <li><a target="_blank" href="http://www.meetup.com/activatorium/">Meetupie</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row copyright">
                <span>Copyright 2014 Activatorium</span>
            </div>
        </div>
    </footer>
</template>

<template name="setupApp">
    {{> loginButtons }}
</template>
