<template name="actiBemowo">
    <h2>Proponowany przebieg spotkania</h2>
        <p>
            <strong>Activatorium ASBIRO Chata</strong> to drugi klub <a target="_blank" href="http://activatorium.pl"><strong>Activatorium</strong></a>
        - społeczności ludzi, którzy chcą założyć własną
        firmę, stworzyć własny projekt z dziedziny nowych
        technologii lub też innych branż.
        </p>
        <p>
        Planujemy comiesięczne spotkanie w każdy czwarty

        roboczy poniedziałek miesiąca o 19.00. Na każde

        zapraszamy mówcę, który jest właścicielem

        startupu lub przedsiębiorcą.
        </p>

        <p>
        <strong>Agenda każdego ze spotkań</strong>
        <ul style="list-style:none;">
            <li>19.00 Przedstawiamy się</li>
            <li>19.10 Prezentacja zaproszonego mówcy</li>
            <li>19.30 Dyskusja</li>
            <li>19.50 Networking</li>
            <li>20.30 Open Mic*</li>
            <li>21.00 Zakończenie</li>
        </ul>
        </p>

        <p>
            <strong>* Open Mic</strong>
            To element programu, gdzie każdy gość może zaprezentować w 5 minut:

            <ul >

            <li>
                swój projekt lub pomysł i dodać, czego lub kogo szuka, aby wykonać kolejny krok w realizacji,
            </li>

            <li>
                postępy w swoim projekcie, który już u nas prezentował.
            </li>

            </ul>
        </p>

        <em>Organizatorzy</em>
    <h4>Proponowana data pierwszego spotkania</h4>
        27.10.2014 godz. 19.00
    <h4>Proponowany miesce pierwszego spotkania</h4>
        ASBIRO Chata, Posejdona 9
    <h4>Proponowana częstotliwość spotkań</h4>
        Raz w miesiącu
</template>
