<template name="details">
    <div class="container container-box">
        <a class="return-link" href="javascript: history.go(-1)">Wstecz</a>
        {{#AnimateWithVelocity}}
        <div data-animate data-property="opacity" data-duration="500" data-from-value="0" data-to-value="1" data-easing-in="easeInOutExpo" data-easing-out="easeInOutExpo">

        <div class="project-header">
            <h1 class="subheader">
                {{title}}
                {{#if success }}
                <div class="campaign-success"><img src="/img/icons/success.png" width="60px" alt=""/></div>
                {{/if}}
            </h1>
            <p>{{description}}</p>
        </div>

        <div class="project-info-line">
            <div class="place"><img src="/img/icons/map-point.png" width="10px" alt="">Miejsce: {{place}}</div>
            <div style="clear:both"></div>
        </div>
        <br>

        </div>
        {{/AnimateWithVelocity}}

        <div class="row project-content">
            <div class="col-sm-8 project-movie">
                    {{# if video }}
                    <object class="movie" type="application/x-shockwave-flash" data="{{inner_video_url}}">
                        <param name="movie" value="{{inner_video_url}}" />
                    </object>
                    {{ else }}
                        <img class="photo" src="{{ photo }}">
                    {{/if }}

                    <div class="project-details">
                        <h3>Opis projektu</h3>
                        {{{long_description}}}
                    </div>
            </div>
            <div class="project-operations col-sm-4">
                <h3>Co możemy dać</h3>
                {{what_can_give}}
                <h3>Kogo szukamy</h3>
                {{who_looking_for}}

                {{# if createdByMe }}
                    <h3 class="info" style="color:red">To jest twój projekt</h3>
                    <a class="linkmed" href="{{ pathFor 'projectForm' _id=_id}}">Edytuj</a>
                {{else}}
                    {{# if currentUser}}
                    <div class="contact">
                        <a class="linkmed" href="{{ pathFor 'personProfile' _id=personId }}">Skontaktuj się z twórcą</a>
                    </div>
                    {{/if }}
                {{/if }}
            </div>


        </div>

    </div>
</template>
