<template name="profile-submits">
    <div class="container profile-submits container-box big">
        <h1>Wsparte projekty</h1>
        <div>
        {{# if supported_projects.count }}
            {{> list projects=supported_projects}}
        {{else}}
            <div class="donthave">Nie wsparłes jescze żadnych projektów</div>
        {{/if}}
        </div>

    </div>

</template>
