<template name="projectBox">
    <div class="col-sm-4">
    <div class="project-box">

        <a href="{{ pathFor 'details' }}">
            <img class="photo" src="{{ photo }}" alt="" width="100%">
        </a>

        <div class="text">
            <div class="title">
                    <a href="{{ pathFor 'details' }}">{{ title }}</a>
                {{#if canEdit }}
                    <a class="linksmall" href="{{ pathFor 'projectForm' _id=_id}}">Edytuj</a>
                    {{#if active}}{{else}}
                    <a class="linksmall" href="{{ pathFor 'details' _id=_id}}">Detale</a>
                    {{/if}}
                {{/if}}
            </div>
            <p>{{description}}</p>
        </div>

        <div class="place pull-right">
            <img src="/img/icons/map-point.png" width="10px" alt="">Miejsce: {{place}}
        </div>
        <div style="clear:both"></div>

    </div>
    </div>
</template>

