
<template name="projectForm">
    <div class="container projectForm container-box">
        {{# if currentUser }}
            <a class="return-link" href="{{ pathFor 'allProjects' }}">Wstecz</a>
            {{#if project }}
                {{#autoForm collection="Projects" id="updateProjectForm" doc=project type="update"}}
                    <h1>Aktualizuj informcję o swoim projekcie</h1>
                        {{> creatorFormBase }}
                    <button type="submit" class="btn btn-lg btn-danger">Zakualizuj</button>
                {{/autoForm}}
            {{ else }}
                {{#autoForm collection="Projects" id="insertProjectForm" doc=project type="insert"}}
                    <h1>Opisz swój projekt</h1>
                        {{> creatorFormBase }}
                    <button type="submit" class="btn btn-lg btn-danger">Stwórz</button>
                {{/autoForm}}
            {{/if}}
        {{else}}
            <div class="loginprompt">
                <h1>Zaloguj się aby stworzyć swój projekt</h1>
            </div>
        {{/if}}

    </div>
</template>

<template name="creatorFormBase">
    {{> afQuickField name='title'}}
    {{> afQuickField name='place'}}
    {{> afQuickField name='description'}}
    <div class="form-group">
        <label>Bardziej szczegółowy opis projektu</label>
        <div id="summernote-project-form"></div>
    </div>
    {{> afQuickField name='what_can_give' rows=3}}
    {{> afQuickField name='who_looking_for' rows=3}}
    {{> afQuickField name='photo'}}
    {{> afQuickField name='video'}}

</template>
