<template name="allProjects">
    <div class="projects-section">
        <div class="container container-box projects">
            {{# if currentUser }}
            <a class="linkmenu" href="{{ pathFor 'createProjects' }}">Twoje projekty</a>
            <a class="linkmenu" href="{{ pathFor 'projectForm' }}">Stwórz projekt</a>
            {{/ if }}
            <h1>
                Projekty
            </h1>
            {{> list }}
        </div>
    </div>
</template>
